.paragraph-skeleton--component-wrapper {
  .line {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      width: 80%;
    }
  }
  &.is-align- {
    &center .line {
      margin-left: auto;
      margin-right: auto;
    }
    &right {
      float: right;
    }
  }
}
